@import url(  https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco rel="stylesheet");

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transition: 0.5s;
}




.deck .card.open {
    transform: rotateY(160deg);
    background: #02b3e4;
    cursor: default;
    transition: 1s;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
    -webkit-animation:rotation 2s;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.initGame{
  position:absolute;
  margin-left: 25%;
  height: 400px;
  width: 600px;
  margin-top: 5%;
  background-color: #ffff;
  z-index: 10;
  text-align: center;
  -webkit-box-shadow: 11px 9px 72px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 11px 9px 72px -7px rgba(0,0,0,0.75);
  box-shadow: 11px 9px 72px -7px rgba(0,0,0,0.75);
 -webkit-border-radius: 12px;
 -moz-border-radius: 12px;
  border-radius: 12px;

}

.play-button{
  cursor: pointer;
  font-size: 50px;
  color: blue;

}

.game-title{

   font-size: 60px;
}
/* Shake Animation for the cards when they don't match!!*/
@-webkit-keyframes shake {
            0%, 100% {-webkit-transform: translateX(0);}
            10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
            20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
         }
.shake {
   -webkit-animation-name: shake;
   animation-name: shake;
   transition: ;
}

.animation {

    -webkit-animation-duration: 1.5s;
           animation-duration: 1.5s;
           -webkit-animation-fill-mode: both;
           animation-fill-mode: both;
}



@-webkit-keyframes rotation{
  from {
  				-webkit-transform: rotate(0deg);
  		}
  		to {
  				-webkit-transform: rotate(359deg);
  		}
}


.gameOver{

  position:absolute;
  margin-left: 15%;
  height: 500px;
  width: 800px;
  margin-top: 5%;
  background-color: #ffff;
  z-index: 10;
  text-align: center;
  -webkit-box-shadow: 11px 9px 72px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 11px 9px 72px -7px rgba(0,0,0,0.75);
  box-shadow: 11px 9px 72px -7px rgba(0,0,0,0.75);
 -webkit-border-radius: 12px;
 -moz-border-radius: 12px;
  border-radius: 12px;


}
.checked{
  transition: opacity 1s ease-out;
  transform: rotate(360deg);
  transition: 3s;
  color:green;
  font-size:30px;

}
.won{
  color:#2b6dd8;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
